.fourthSection{
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
  
}
div>h2{
    margin: 0 auto;
    text-align: center;
    color: green;
}
div>h1{
    margin: 0 auto;
    width: 55vw;
    text-align: center;
    color: #000;
}
.rowOne
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    word-break:normal;

}
.rowTwo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    word-break:normal;

}

.fourthSection h2
{
    
    font-size: 36px;
    padding-left: 25px;
    text-align: left;
    color: #000;
    display: inline;
    line-height: 20px;
  
}
.fourthSection p
{
    font-size: 18px;
    width:450px;
    margin-left:55px;
    color: #000;
    line-height: 35px;
    word-break:normal;
}

svg{
    margin-right: 10px;
}

.Two{
    margin-top: 20px;
}
.Four{
    margin-top: 20px;
}