*{
  margin: 0 auto;
}
body{
  margin: 0 auto;
  width:100%;
  overflow-x: hidden;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 2s ease;
  
}
p{
  word-break:break-all;
}
h1{
  word-break:normal;
}
code {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
